<div class="side-bar position-fixed">
  <div>
    <div class="p-3"><%= image_tag("logo.png", alt: "My logo") %></div>
  </div>

  <div class="side-item">
    <div class="py-3">
      <span class="pr-5"><i class="fa-solid fa-users"></i></span>
      <span>Users</span>
    </div>

    <div class="py-3">
      <span class="pr-5"><i class="fa-solid fa-parachute-box"></i></span>
      <span>Products</span>
    </div>
      
    <div class="py-3">
      <span class="pr-5"><i class="fa-solid fa-book-bookmark"></i></span>
      <span>Categories</span>
    </div>

    <div class="py-3">
      <span class="pr-5"><i class="fa-solid fa-file-invoice-dollar"></i></span>
      <span>Orders</span>
    </div>

     <div class="py-3">
      <span class="pr-5"><i class="fa-solid fa-paste"></i></span>
      <span>Posts</span>
    </div>

  </div>
</div>