<%= render "admins/sidebar" %>

<div class="body-content rounded">
   <div class="mx-3 py-2 d-flex flex-row justify-content-between align-items-center header-content">
      <span>
        <input type="text" class="px-5 py-1 rounded">
        <button class="py-1 px-5 rounded search-btn ">Search</button>
      </span>

      <span>
        <img src="images/avatar.png" class="avatar rounded-circle">
      </span>
   </div>
   
   <div>
       <div><%=render 'admins/user'%></div>
   </div>

</div>