<div class="footer">

<div class="text-center mt-5">
    <div>Get up-to-date with our lastest infomation</div>
    <div>
        <input type="text" class="mt-3 px-3 sub-input" placeholder="Your email">
        <button class="sub-button">Subcribe</button>
    </div>
</div>

<div class="d-flex flex-row justify-content-around w-100 py-5">
   <div style="width: 20%;">
     <div><img src="images/logo-footer.png" class="w-25"></div>
     <div class="mt-3">StillGood is a second-hand e-commerce platform.
      Here, you can exchange, buy and sell items with other people.... </div>
   </div>

   <div>
       <h4>Customer Service</h4>
       <div><a>Help Center</a></div>
       <div><a>Report abuse</a></div>
       <div><a>File a case</a></div>
       <div><a>Policies & rules</a></div>
   </div>

   <div>
       <h4>Get to know us</h4>
       <div><a>Blog</a></div>
       <div><a>About StillGood</a></div>
       <div><a>Sitemap</a></div>
   </div>  

    <div>
       <h4>Connect with us</h4>
       <div class="d-flex justify-content-around" style="font-size: 20px;">
       <a><i class="fa-brands fa-square-facebook"></i></a>
       <a><i class="fa-brands fa-square-instagram"></i></a>
       <a><i class="fa-brands fa-square-twitter"></i></a>
       <a><i class="fa-brands fa-linkedin"></i></a>
       <a><i class="fa-brands fa-square-youtube"></i></a>
       </div>
       
   </div>
</div>
<hr style="color: white">
<div class="pb-1 copyright">
   <i class="fa-solid fa-copyright"></i>
   <span>2000-2022 by Vinhkwang.All Rights Reserved.</span>
</div>
</div>