<div class="container-cus d-flex flex-row justify-content-between align-items-center">

  <div class="p-3"><%= image_tag("logo.png", alt: "My logo") %></div>

  <div class="ml-1 w-100">
     <input type="text" class="py-2 w-75 search-bar" placeholder="Search evething here..."/>
     <button class="py-2 px-4 ml-1 search-button text-white">SEARCH</button>
  </div>

  <div class="w-100 d-flex flex-row justìy-content-between align-items-center text-center">

  <span class="p-2 function d-flex flex-column text-center">
  <i class="fa-solid fa-cart-arrow-down"></i>
  <span class="ml-5">CART</span>
  </span>

  <span class="p-2 function d-flex flex-column text-center">
  <i class="fa-solid fa-bag-shopping"></i>
  <span>RETURNS AND ORDERS</span>
  </span>

  <span class="p-2 function d-flex flex-column text-center">
  <i class="fa-solid fa-bell"></i>
  <span>NOTIFICATIONS</span>
  </span>

  <span class="p-2 function d-flex flex-column text-center">
  <i class="fa-solid fa-comment-dots"></i>
  <span>MESSAGES</span>
  </span>

  <span class="p-2 function">
  <i class="fa-solid fa-user"></i>
  <i class="fa-solid fa-angle-down"></i>
  </span>

  </div>
</div>