<div class="navigation">
  
 <div class="container-cus d-flex flex-row align-items-center justify-content-between">
 <div class="d-flex flex-row align-items-center">
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">HOME</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">CATEGORIES</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">BLOG</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">ABOUT US</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">TERMS AND POLICIES</a></div>
  </div>

  <span class="btn sold-button">
    <i class="fa-solid fa-pen-to-square"></i>
     <%= link_to "Post For Sale", new_product_path, style:'text-decoration: none; color: yellow;' %>
  </span>
  </div>
</div>