<div class="navigation d-flex flex-row align-items-center">
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">HOME</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">CATEGORIES</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">FORUM</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">ABOUT US</a></div>
  <div class="p-3"><a href="#" class="nav-item text-decoration-none text-white">TERMS AND POLICIES</a></div>
</div>