<div class="container-cus d-flex justify-content-center">
    <span class="position-relative rounded">
       <div class="text-white position-absolute banner-info">
          <h3>New 2ndhand Furniture Everyday</h3>
          <h5>Choose your furniture items to refresh your home</h5>
          <button class="mt-3 banner-button text-white">View more >></button>
       </div>
       <img src="/images/furniture1.jpeg" class="rounded">
    </span>

    <span class="d-inline-block ms-3 p-1 banner">
      <div class="banner-notice p-1">
        <img src="/images/iphone.jpeg" class="banner-image">
        <div class="w-100 text-center mt-1 text-white">Most interested products</div>
      </div>

      <div class="mt-3 banner-second p-1">
         <img src="/images/mayep.jpeg" class="banner-image">
         <div class="w-100 text-center mt-1 text-white">Maybe you like this</div>
      </div>
    </span>
</div>
 