<div id="<%= dom_id product_attachment %>">
  <p>
    <strong>Product:</strong>
    <%= product_attachment.product_id %>
  </p>

  <p>
    <strong>Product image:</strong>
    <%= product_attachment.product_image %>
  </p>

</div>
