<h1>Editing product attachment</h1>

<%= render "form", product_attachment: @product_attachment %>

<br>

<div>
  <%= link_to "Show this product attachment", @product_attachment %> |
  <%= link_to "Back to product attachments", product_attachments_path %>
</div>
