<p style="color: green"><%= notice %></p>

<div id="products">
  <% @products.each do |product| %>
    <%
=begin%>
 <div><%=image_tag(product.product_images[0], width: 50) if product.product_images.present?%></div> 
<%
=end%>
    <div><%= product.title %></div>
    <div><%= product.price %></div>

  <% end %>
</div>

